*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    position: relative;
    width: 150px;
}

.outer-class{
    width: 143px;
    position: absolute;
    top: 6px;
    left: 7px;
    height: 44px;
    border: 1px solid black;
}

.inner-class{
    background-color: blue;
    position: absolute;
    bottom: 6px;
    right: 7px;
    width: 143px;
    height: 44px;
}

.New{
    position: relative;
    width: 100px;

}
.theouter{
    width: 93px;
    position: absolute;
    top: 6px;
    left: 7px;
    height: 44px;
    border: 1px solid black;
}
.themain{
    color: white;
    background-color: blue;
    position: absolute;
    width: 93px;
    bottom: 6px;
    
}