* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

.mainCanvas{
    width: 1440px;
    height: 4349px;
    top: -334px;
    margin: auto;
    background-color: rgba(245,245,245,1);
}
.subCanvas{
    position: relative;
    border: 1px solid rgba(201,201,201,1);
    width: 1318px;
    height: 4349px;
    margin: auto;
    border-top: none;
    border-bottom: none;
}
.wrapper{
    /* border: 1px solid black; */
    border-bottom: none;
    border-top: none;
    width: 1258px;
    margin: auto;
    height: 4349px;
}
.line{
    position: absolute;
    width: 1318px;
    border: 1px solid rgba(201,201,201,1);
    margin-right: 50px;
    top: 99px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

/* nav Section */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 27px;
    /* background-color: aquamarine; */
}
.logo {
    display: flex;
}
.logo img {
    width: 33px;
    height: 33px;
}
.logo span {
    width: 96px;
    height: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 29.98px;
    color: rgba(41, 149, 226, 1);
}
.navWords ul {
    display: flex;
    width: 200%;
    justify-content: space-between;
    margin-right: 100%;
}
.navWords ul a {
    color: rgba(63,63,63,1);
    width: 47px;
    height: 28px;
    font-weight: 600;
    font-size: 15px;
    line-height: 28.11px;
}
.signbutton button {
    width: 130px;
    height: 44px;
    border: 1px solid rgba(142, 142, 142, 1);
    background-color: white;
    color: rgba(63, 63, 63, 1);;
    padding: 7px 30px 7px 30px;
    font-size: 16px;
    line-height: 29.98px;
    font-weight: 600px;
}

/* Hero section */
.HeroSection{
    /* background-color: blue; */
    margin-top: 90px;
}
.sectionWrapper{
    display: flex;
    justify-content: space-between;
}
.content{
    margin-top: 60px;
}
.content h4{
    width: 556px;
    height: 186px;
    top: 256px;
    left: 94px;
    font-weight: 700;
    font-size: 60px;
    line-height: 93px;
}
.likeToHelp p{
    width: 428px;
        height: 36px;
        top: 475px;
        left: 94px;
        font-weight: 400;
        font-size: 19px;
        line-height: 35.61px;
        color: rgba(63, 63, 63, 1);
}
.theButtons {
    width: 374px;
    height: 51px;
    top: 560px;
    left: 94px;
    gap: 46px;
    margin-top: 12%;
    display: flex;
}
.getstarted {
    border: none;
    background-color: rgba(245, 245, 245, 1);
    position: relative;
    width: 149px;
    height: 51px;
}
.getstarted .innerclass {
    background-color: rgb(255, 255, 255);
    width: 143px;
    height: 44px;
    position: absolute;
    top: 7px;
    left: 6px;
    height: 44px;
    gap: 10px;
    border: 1px solid rgba(78, 78, 78, 1);
}
.innerclass .writingDiv {
    background-color: rgba(41, 149, 226, 1);
    position: absolute;
    bottom: 6px;
    right: 7px;
    width: 143px;
    height: 44px;
    border: none;
    line-height: 40.98px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.writingDiv span{
    width: 78px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 29.98px;
}
.watchOurstory {
    display: flex;
    width: 179px;
    height: 36px;
    gap: 18px;
}
.watchOurstory span {
    width: 129px;
    height: 36px;
    font-weight: 600;
    size: 19px;
    line-height: 35.61px;
}
.watchOurstory img {
    width: 32px;
    height: 32px;
    margin-top: 6px;
    gap: 10px;
}
.sectionWrapper #couple{
    width: 577px;
    height: 467px;
}

/* About Us Section  */
.secondSection{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    position: relative;
}
.aboutUs{
    /* background-color: rgb(45, 97, 97); */
    width: 819px;
}
.aboutUsContent{
    width: 819px;
    height: 198px;
    gap: 8px;
}
.aboutUsContent .header{
    display: flex;
    gap: 30px;
}
.aboutUsContent .header img{
    width: 232px;
    height: 85px;
    left: 367px;
}
.aboutUsContent .header span{
    width: 174px;
    height: 82px;
    font-size: 44px;
    font-weight: 700;
    line-height: 82.46px;
    color: rgba(63,63,63,1);
    text-align: center;
}
.aboutUsContent #tent {
    position: absolute;
    width: 160px;
    height: 97px;
    left: 60%;
}
.theWriteUp p{
        text-align: center;
        font-size: 19px;
        line-height: 35.61px;
        font-weight: 600;
        color: rgba(79, 79, 79, 1);
        width: 819px;
        height: 108px;
        margin: auto;
}


/* Our service secion  */
.ourServicesSection{
    margin-top: 120px;
    /* background-color: blueviolet; */
}
.ourServiceContent .title{
    width: 343px;
    height: 111px;

}
.ourServiceContent .title .ourservice{
    color: rgba(41,149,226,1);
    width: 217px;
    height: 75px;
    font-weight: 700;
    font-size: 40px;
    line-height: 74.96px;
}
.ourServiceContent .title .someOfOur{
    width: 343px;
    height: 36px;
    font-weight: 600;
    font-size: 19px;
    line-height: 35.61px;
    color: rgba(79,79,79,1);
}
.subsection1{
    display: flex;
}
.gurdianship {
    /* background-color: brown; */
    margin-top: 5%;
    width: 525px;
    height: 319px;
    /* left: 91px; */
    /* gap: 42px; */
}
.gurdianshiptitle span {
    width: 525px;
    height: 52px;
    font-weight: 700;
    font-size: 28px;
    line-height: 52.47px;
    color: rgba(63, 63, 63, 1);
}
.gurdianshipWriteup span {
    width: 493px;
    height: 144px;
    font-weight: 600;
    font-size: 19px;
    line-height: 35.61px;
    color: rgba(79, 79, 79, 1);
}
.AboutThis {
    margin-top: 5%;
    border: none;
    background-color: rgba(245, 245, 245, 1);
    position: relative;
    width: 181.14px;
    height: 62px;
}

.AboutThis .AboutThis-innerclass {
    background-color: rgb(255, 255, 255);
    width: 173.84px;
    height: 53.49px;
    position: absolute;
    top: 8.51px;
    left: 7.29px;
    height: 44px;
    gap: 12.16px;
    border: 1.22px solid rgba(78, 78, 78, 1);
}

.AboutThis-innerclass .AboutThis-writingDiv {
    background-color: rgba(41, 149, 226, 1);
    position: absolute;
    bottom: 6px;
    right: 7px;
    width: 173.84px;
    height: 53.49px;
    border: none;
    line-height: 40.98px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.AboutThis-writingDiv span {
    width: 78px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 29.98px;
}


.subsection2 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.subsection2 .helpingtheelder{
    width: 493px;
    height: 313px;
    margin-top: 10%;
}
.subsection2 .helpingtheelder .helpingtheelder-title{
    color: rgba(63, 63, 63, 1);
    width: 261px;
    height: 52px;
    font-weight: 700;
    font-size: 28px;
    line-height: 52.47px;
}
.subsection2 .helpingtheelder .theContent{
    width: 493px;
    height: 144px;
    font-weight: 500;
    font-size: 19px;
    line-height: 35.61px;
}
.subsection3{
    /* background-color: aqua; */
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}
.subsection3 .foodAndClothes{
    margin-top: 8%;
    width: 493px;
    height: 320px;
    
}
.subsection3 .foodAndClothes .foodAndClothes-title{
    width: 328px;
    height: 52px;
    font-weight: 700;
    font-size: 28px;
    line-height: 52.47px;
    color: rgba(63,63,63,1);
}
.subsection3 .foodAndClothes .foodAndClothes-writeup{
    width: 493px;
    height: 144px;
    font-weight: 400;
    font-size: 19px;
    line-height: 35.61px;
    color: rgba(79, 79, 79, 1));
}

/* The blue box  */
.theBlueBox {
    margin-top: 9%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.bluebox {
    justify-content: center;
    display: flex;
    width: 1148px;
    height: 323px;
    border-width: 12px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    left: 146px;
    background-color: rgba(41, 149, 226, 1);
}
.bluebox img {
    width: 457px;
    height: 313px;
    position: absolute;
    margin-right: 35%;
    margin-top: 4%;
}
.bluebox .bluebox-writeup {
    width: 286px;
    height: 209px;
    margin-top: 5%;
    margin-left: 50%;
}
.do-you {
    width: 286px;
    height: 132px;
    font-weight: 700;
    font-size: 35px;
    line-height: 65.59px;
    color: white;
}
.GetIntouch-button {
    position: relative;
    background-color: rgba(41, 149, 226, 1);
    width: 172.37px;
    height: 59px;
    border: none;
}
.GetIntouch-innerclass {
    position: absolute;
    width: 165.43px;
    height: 50.9px;
    top: 8.1px;
    left: 6.94px;
    gap: 10px;
    border: 1.16px solid rgba(78, 78, 78, 1);
    background-color: rgba(41, 149, 226, 1);
}
.GetIntouch {
    position: absolute;
    width: 165.43px;
    height: 50.9px;
    bottom: 6px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(49, 49, 49, 1);
    line-height: 45.69px;
    font-size: 18.51px;
    font-weight: 600;
    right: 7px;
}


/* The Form Section  */
.formsession{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formsession .mainBox{
    width: 1179px;
    height: 614px;
    border: 1px solid rgba(41, 149, 226, 1);
}
.formsession .mainBox .subBox{
    position: relative;
    /* background-color: rgb(0, 255, 21); */
    margin-left: 3.4%;
    margin-top: 3.4%;
    width: 1098px;
    height: 531px;
    /* border: 1px solid rgba(41, 149, 226, 1); */
}
.subBox .boxheader{
    width: 552px;
    height: 94px;
    gap: 11px;
}
.subBox .boxheader .boxheader-Title span{
    width: 306px;
    height: 47px;
    font-weight: 700;
    font-size: 25px;
    line-height: 46.85px;
    color: rgba(63,63,63,1);
}
.subBox .boxheader .boxheader-Writup span{
    width: 552px;
    height: 36px;
    font-size: 19px;
    font-weight: 600;
    line-height: 35.61px;
    color: rgba(79, 79, 79, 1));
}
.theforms{
    width: 1098px;
    height: 405px;
    gap: 57px;
}
.theforms .formline1{
    /* background-color: aqua; */
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    width: 1098px;
    height: 113px;
    gap: 38px;
}
.theforms .formline1 .fullname-form1{
    width: 530px;
    height: 113px;
    gap: 16px;
}
.theforms .formline1 .fullname-form1 span{
    width: 71px;
    height: 32px;
    font-weight: 600;
    font-size: 17px;
    line-height: 31.86px;
}
.theforms .formline1 .fullname-form1 input{
    width: 530px;
    height: 65px;
    border: 1px solid rgba(153,153,153,1);
    padding: 17px;
    gap: 10px;
}
.theforms .formline1 .email-form1{
    width: 530px;
    height: 113px;
    gap: 16px;
}
.theforms .formline1 .email-form1 span{
    width: 71px;
    height: 32px;
    font-weight: 600;
    font-size: 17px;
    line-height: 31.86px;
}
.theforms .formline1 .email-form1 input{
    width: 530px;
    height: 65px;
    border: 1px solid rgba(153,153,153,1);
    padding: 17px;
    gap: 10px;
}
.formsession .mainBox .subBox button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 65px;
    color: white;
    background-color: rgba(41, 149, 226, 1);
    border: 1px solid rgba(153, 153, 153, 1);   
}
.newline{
    transform: translateX(-4.8%);
    position: absolute;
        display: flex;
            justify-content: center;
            align-items: center;
    width: 1318px;
        height: 0px;
    margin-top: 10%;
        left: 62px;

        border: 1px solid rgba(201, 201, 201, 1)
}

.lastSection{
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    width: 1178px;
    height: 7%;
    margin-top: 15%;
        top: 4255px;
    margin-left: 40px;
        border: 1px solid rgba(201, 201, 201, 1);
border-top: none;
border-right: none;
border-left: none;

}
.contains{
    display: flex;
    justify-content: space-between;
    width: 565px;
    height: 218px;
    gap: 102px;
}
.firstcontains{
    width: 193.94px;
    height: 133px;
    gap: 15px;
}
.firstcontains .buttom{
    display: flex;
    width: 193.94px;
    height: 46px;
    gap: 13.94px;
}
.firstcontains .buttom img{
    width: 46px;
    height: 46px;
}
.firstcontains .buttom .weHelpEveryOne{
    width: 134px;
    height: 42px;
    font-weight: 700;
    font-size: 22.3px;
    line-height: 41.8px;
    color: rgba(41, 149, 226, 1);
}
.firstcontains div{
width: 176px;
    height: 72px;
    font-size: 19px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
color: rgba(36, 36, 36, 1);
}
.contains span{
    width: 59px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 29.98px;
    text-align: left;
color: rgba(63, 63, 63, 1);
}
.newwrapper{
display: flex;
    justify-content: center;
    width: 100%;
}
.copywritsection{
margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 1179px;
    height: 30px;

}
.copywritsection .copyright{
    width: 382px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 29.98px;
    text-align: left;
color: rgba(135, 135, 135, 1);
}
.copywritsection .cookie{
    width: 300px;
    font-size: 16px;
    font-weight: 500;
    line-height: 29.98px;
    text-align: left;
color: rgba(135, 135, 135, 1);
}
.copywritsection .cookie .accept{
    width: 300px;
        font-size: 16px;
        font-weight: 700;
        font-size: 16px;
        color: rgba(41, 149, 226, 1)
}