* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

.subWrapper {
    width: 90%;
    margin: auto;
    background-color: rgb(245,245,245);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*Nav section*/
nav {
    background-color: #f5f5f5;
}

nav .navBar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

.logo {
    display: flex;
}

.logo span {
    width: 96px;
    height: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 29.98px;
    color: rgba(41, 149, 226, 1);
}

.logo img{
    width: 33px;
    height: 33px;
}

.NavWords ul {
    display: flex;
    width: 200%;
    justify-content: space-between;
    margin-right: 10%;
    margin-top: 2.1%;
}

.NavWords ul a{
    color: black;
    width: 68px;
    height: 28px;
    font-weight: 600;
    font-size: 15px;
    line-height: 28.11px;
}

.signbutton button {
    width: fixed(130px);
    height: fixed(44px);
    border: 1px solid rgba(142,142,142,1);
    background-color: white;
    color: black;
    padding: 7px 30px 7px 30px;
    font-size: 16px;
    line-height: 29.98px;
    font-weight: 600px;
}

/*Hero sesion*/
.HeroSection{
    margin-top: 90px;
}
.sectionWrapper {
    width: 97%;
    margin: auto;
}
.content{
    display: flex;
    justify-content: space-between;
}
.TheWriteUp{
    margin-top: 60px;
}

.TheWriteUp h4{
    width: 556px;
    height: 186px;
    top: 256px;
    left: 94px;
    font-weight: 700;
    font-size: 60px;
    line-height: 93px;
}

.likeToHelp{
    margin-top: 8%;
}

.likeToHelp p{
    width: 428px;
    height: 36px;
    top: 475px;
    left: 94px;
    font-weight: 400;
    font-size: 19px;
    line-height: 50.61px;
    color: rgba(63, 63, 63, 1);
}
.theButtons{
    width: 374px;
    height: 51px;
    top: 560px;
    left: 94px;
    gap: 46px;
    margin-top: 12%;
    display: flex;
}

.getstarted {
    border: none;
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 149px;
    height: 51px;
}

.getstarted .innerclass {
    background-color: rgb(255, 255, 255);
    width: 143px;
    height: 44px;
    position: absolute;
    top: 7px;
    left: 6px;
    height: 44px;
    gap: 10px;
    border: 1px solid rgba(78,78,78,1);
}

.innerclass span{
    background-color: rgba(41,149,226,1);
    position: absolute;
    bottom: 6px;
    right: 7px;
    width: 143px;
    height: 44px;
    border: none;
    line-height: 40.98px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.watchOurstory{
    display: flex;
    width: ;
}

.watchOurstory span {
    width: 129px;
    height:36px;
    font-weight: 600;
    size: 19px;
    line-height: 40.61px;
}

.watchOurstory img{
    width: 32px;
    height: 32px;
    margin-top: 6px;
    gap: 10px;
}

/* About us session */

.aboutUs {
    margin-top: 70px;
}

.aboutUsContent{
    position: relative;
}

.section2Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutUsContent .header{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
    margin-right: 10px;
}

.aboutUsContent span{
    width: 174px;
    height: 82px;
    font-weight: 700;
    font-size: 44px;
    line-height: 82.46px;
    color: rgba(63, 63, 63, 1));
}

.writeup p {
    text-align: center;
    font-size: 19px;
    line-height: 35.61px;
    font-weight: 600;
    color: rgba(79, 79, 79, 1);
    width: 819px;
    height: 108px;
    margin: auto;
}

.aboutUsContent #tent{
    position: absolute;
    width: 160px;
    height: 97px;
    left: 60%;
}

/* secsion3 */
.ourservices{
    margin-top: 120px;
}

.title{
    width: 343px;
    height: 111px;
    left: 91px;
}

.ourservice{
    color: rgba(41,149,226,1);
    width: 217px;
    height: 75px;
    font-weight: 700;
    font-size: 40px;
    line-height: 74.96px;
}

.someOfOur{
    width: 343px;
    height: 36px;
    font-weight: 600;
    font-size: 19px;
    line-height: 35.61px;
    color: rgba(79,79,79,1);
}

.subsession1{
    display: flex;
    margin-top: 7%;
    justify-content: space-between;
    width: 70%;
}

.gurdianship{
    margin-top: 6%;
    width: 525px;
    height: 319px;
    left: 91px;
    gap: 42px;
}

.gurdianshipTitle span{
    width: 525px;
    height: 52px;
    font-weight: 700;
    font-size: 28px;
    line-height: 52.47px;
    color: rgba(63,63,63,1);
}

.gurdianshipWriteup span{
    width: 493px;
    height: 144px;
    font-weight: 600;
    font-size: 19px;
    line-height: 35.61px;
    color: rgba(79, 79, 79, 1);
}

.gurdianshipButton{
    margin-top: 11%;
}

.aboutThis{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 51px;
    width: 149px;
    border: none;
}
.aboutThis-innerclass{
    position: absolute;
    top: 7px;
    left: 6px;
    height: 44px;
    gap: 10px;
    border: 1px solid rgba(78, 78, 78, 1);
    background-color: rgb(255, 255, 255);
    width: 143px;
    height: 44px;
}
.aboutThisText{
    position: absolute;
    background-color: rgba(41, 149, 226, 1);
    position: absolute;
    bottom: 6px;
    right: 7px;
    width: 143px;
    height: 44px;
    border: none;
    line-height: 40.98px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.subsession1 img{
    width: 722px;
    height: 426px;
}

.subsession2{
    margin-top: 5%;
}

.helpingelderscontent{
    width: 72%;
    display: flex;
    justify-content: space-between;
}

.helpingthehelder{
    width: 493px;
    height: 313px;
    margin-top: 29%;
}

.helpingthehelder .title span{
    width: 261px;
    height: 52px;
    font-weight: 700;
    font-size: 28px;
    line-height: 52.47px;
    color: rgba(63, 63, 63, 1);
}

.helpingthehelder .theContent span{
    width: 493px;
    height: 144px;
    font-size: 19px;
    line-height: 35.61px;
}

.section3{
    margin-top: 9%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.bluebox {
    justify-content: center;
    display: flex;
    width: 1148px;
    height: 323px;
    border-width: 12px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    left: 146px;
    background-color: rgba(41, 149, 226, 1);
}

.bluebox img{
    width: 457px;
    height: 313px;
    position: absolute;
    margin-right: 35%;
    margin-top: 2%;
}
.writeup {
    width: 286px;
    height: 209px;
    margin-top: 5%;
    margin-left: 50%;
}
.do-you{
    width: 286px;
    height: 132px;
    font-weight: 700;
    font-size: 35px;
    line-height: 65.59px;
    color: white;
}

.GetIntouch-button{
    position: relative;
    background-color: rgba(41, 149, 226, 1);
    width: 172.37px;
    height: 59px;
    border: none;
}
.GetIntouch-innerclass{
    position: absolute;
    width: 165.43px;
    height: 50.9px;
    top: 8.1px;
    left: 6.94px;
    gap: 10px;
    border: 1.16px solid rgba(78,78,78,1);
    background-color: rgba(41,149,226,1);
}
.GetIntouch{
    position: absolute;
    width: 165.43px;
    height: 50.9px;
    bottom: 6px;
    background-color: rgba(255,255,255,1);
    color: rgba(49,49,49,1);
    line-height: 45.69px;
    font-size: 18.51px;
    font-weight: 600;
    right: 7px;
}